#root {
  --sidebar-width: 10vw;
  width: 100vw;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: 100vh;
}

li {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main div {
  background-color: aliceblue;
  border-radius: 8px;
  padding: 8px;
}
