#root {
  --sidebar-width: 10vw;
  --header-height: 10vh;
  width: 100vw;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;

  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

li {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  gap: 1em;
  overflow: scroll;
}

main::-webkit-scrollbar {
  display: none;
}

main div {
  border-radius: 8px;
  padding: 8px;
}
