.createTaskContainer {
    position: absolute;
    top: 0;
    left: 0;


    width: 100vw;
    height: 100vh;

    background: none;

    form {
        width: 64vw;
        height: 56vh;
        margin: auto;
        border: 2px solid #657565;
        border-radius: 16px;
        padding: 16px;
        background-color: #fffffb;


        .formItem {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            label {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }

            input {
                width: 100%;
                height: 2rem;
                padding: 8px;
                background: none;
                border: none;
            }

            input:focus {
                outline: none;
            }

            textarea {
                padding: 0.5rem;
                font-size: 1.5rem;
            }

        }

        button {
            margin-right: 32px;
        }
    }
}
